

main::after,
main::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}




.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: 0.2rem;
}

.inside-page__heading--city,
.card-front__text-view--city {
  color: #ff62b2;
}

.inside-page__heading--ski,
.card-front__text-view--ski {
  color: #2aaac1;
}

.inside-page__heading--beach,
.card-front__text-view--beach {
  color: #fa7f67;
}

.inside-page__heading--camping,
.card-front__text-view--camping {
  color: #00b97c;
}

/* Front cover */


/* For pricing text on card front cover */
.card-front__text-price {
  font-size: 1.2rem;
  margin-top: -0.2rem;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text {
  color: #333;
}

/* Icons ===========================================*/

.card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -0.5rem;
  width: 3.25rem;
}

/* Buttons =================================================*/

.inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  overflow: hidden;
  padding: 0.7rem 0.75rem;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 90%;
  z-index: 10;
}

.inside-page__btn::before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all 0.3s ease;
  width: 100%;
  z-index: -1;
}

.inside-page__btn--city {
  border-color: #ff40a1;
  color: #ff40a1;
}

.inside-page__btn--city::before {
  background-color: #ff40a1;
}

.inside-page__btn--ski {
  border-color: #279eb2;
  color: #279eb2;
}

.inside-page__btn--ski::before {
  background-color: #279eb2;
}

.inside-page__btn--beach {
  border-color: #fa7f67;
  color: #fa7f67;
}

.inside-page__btn--beach::before {
  background-color: #fa7f67;
}

.inside-page__btn--camping {
  border-color: #00b97d;
  color: #00b97d;
}

.inside-page__btn--camping::before {
  background-color: #00b97d;
}

.inside-page__btn:hover {
  color: #fafbfa;
}

.inside-page__btn:hover::before {
  transform: scaleY(1);
}

/* Layout Structure=========================================*/

.main {
    padding-top: 5%;
    padding-bottom: 5%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 62%;
  margin-left:20%;
}
.main .page_heading{
    padding-bottom: 5%;
}
.main .page_heading h1{
    color: var(--first-skin-color);
}
.main .page_heading h1,
.main .page_heading p{
    text-align: center;
}

.card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

.card-section {
  margin-top: 1%;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  margin: auto;
}


.page_card {
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgb(0, 0, 0);
  height: 30rem;
  position: relative;
  transition: all 1s ease;
  width: 20rem;
}

.flip-card {
    height: 30rem;
    perspective: 100rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    visibility: hidden;
    width: 20rem;
    z-index: 100;
}

.flip-card > * {
  visibility: visible;
}

.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


.card-front {
  background-color: #fafbfa;
  height: 30rem;
  width: 20rem;
}


.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: 0.75rem;
}

.card-front__tp--city {
  background: linear-gradient(to bottom, #ff73b9, #ff40a1);
}

.card-front__tp--ski {
  background: linear-gradient(to bottom, #47c2d7, #279eb2);
}

.card-front__tp--beach {
  background: linear-gradient(to bottom, #fb9b88, #f86647);
}

.card-front__tp--camping {
  background: linear-gradient(to bottom, #00db93, #00b97d);
}


.card-front__bt {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}
.card-front__bt img{
    top:50px;
    position: absolute;
    width: 110px;
    height: 100px;
}



.back_color1{
    background-color: #ff40a1;
}
.back_color2{
    background-color: #279eb2;
}
.card-back {
  transform: rotateY(180deg);
}


.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}



.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgb(0, 0, 0);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 20rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}



.page_card:hover {
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.151);
  width: 30rem;
}


.page_card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

.page_card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.1);
}


@media (max-width:1669px){
    .main {
        margin-left:0%; 
        width: 70%;
    }
}
@media (max-width:1400px){
    .main {
        margin-left:-10%; 
        width: 80%;
    }
}

  
@media (max-width:1450px){
  .main {
    width: 70%;
  }
}
@media (max-width:1250px){
  .main {
    width: 90%;
  }
}
@media (max-width:900px){
  .main {
    width: 100%;
  }
  .page_card{
    margin-left: -10%;
  }
  .page_card:hover {
    width: 10rem;
  }
  .card-section {
    margin-top: 1%;
    display: block;
  }
  .card-area {
    display: block;
  }


  .flip-card,
  .card-front,
  .inside-page{
    width: 15rem;
  }
  .page_card:hover {
    width: 20rem;
  }
}


@media (max-width:400px){
  .card-section {
    margin-top: 0%;
  }
  .page_card{
    margin-left: 5%;
  }
  .flip-card,
  .card-front,
  .inside-page{
    width: 10rem;
    height: 20rem;
  }
  .page_card:hover {
    width: 19rem;
  }
}